[Unit]
Description=Jenkins Docker Service  
After=docker.service  
Requires=docker.service

[Service]
ExecStartPre=-{{ dockerComposePath }}/docker-compose -f {{ composeInstallationPath }}/docker-compose.yml down
ExecStart={{ dockerComposePath }}/docker-compose -f {{ composeInstallationPath }}/docker-compose.yml up
ExecStop={{ dockerComposePath }}/docker-compose -f {{ composeInstallationPath }}/docker-compose.yml stop  
